

$text-sizes:4,6,8,10, 12, 14, 16,17, 18, 20, 21,22 , 24,26,28;

@each $text-size in $text-sizes {
  .f-#{$text-size} {
      font-size: #{$text-size}px !important;
      line-height: #{$text-size + 2}px;
  }
}


